body {
  background-color: white;
  font-family: Ephesis;
}

header {
  background-color: azure;
  display: flex;
  justify-content: space-around;
}

main{
  display: flex;
  justify-content: center;
}
