#club-page {
    display: grid;
    grid-template-rows: 1fr auto;
}

#top-section {
    display: grid;
    height: 20rem;
    grid-template-columns: auto 1fr;
    column-gap: 1rem;
    margin: 0.5rem;
}

#club-page img {
    height: 20rem;
    max-width: auto;
}

#club-info {
    display: grid;
    grid-template-rows: auto 1fr auto;
    row-gap: 0.5rem;
}

#club-page h2 {
    justify-self: center;
    text-decoration: underline;
}

#club-name {

}

#club-description {

}

#club-owner {
    display: flex;
    flex-direction: row;
    font-weight: bold;
    padding: 0;
}

#club-owner li {
    list-style: none;
    font-weight: normal;
    margin-left: 0.5rem;
}

#bottom-section {
    display: grid;
    grid-template-rows: auto 1fr;
    row-gap: 1rem;
    margin: 0.5rem;
}

#events-container {
    display: grid;
    grid-auto-flow: row;
    row-gap: 0.5rem;
}

#club-page article {
    height: 30rem;
    border-radius: 2rem;
}

.event-image{
    width: calc(100% - 2rem);
    margin: 1rem;
    border-radius: 2rem;
}