#home {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.clubCard {
  position: relative;
  background-color: #f0f0f0;
  padding: 1rem;
  margin: 0.5rem;
  min-width: 200px;
}

.clubCardContent {
  position: relative;
  display: flex;
  justify-content: center;
  min-height: 200px;
}

.clubCardContent img {
  object-fit: cover;
  max-width: 100%;
}

.nextClubEvent {
  width: 80%;
  position: absolute;
  margin: 0.5rem;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 1rem;
}

.nextClubEvent a {
  font-size: 1.2rem;
  color: rgb(98, 98, 255);
  text-decoration: underline;
}

.nextClubEvent p, b, u {
  color: dimgray;
}


