#home {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.clubCard {
  background-color: #f0f0f0;
  padding: 1rem;
  margin: 1rem;
  width: auto;
}

.nextClubEvent {
  margin-top: 0.5rem;
}

.nextClubEvent a {
  font-size: 1.2rem;
  color: rgb(98, 98, 255);
  text-decoration: underline;
}

.nextClubEvent p, b, u {
  color: dimgray;
}
