#login {
    margin-top: 12%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    padding: 50px 30px 50px 30px;
    border: 2px solid black;
    border-radius: 5px;
}

.login-input{
    margin: 10px 0 10px 0;
    width: 90%;
    height: 30px;
    border: 2px solid black;
    border-radius: 8px;
}

.submit{
    width: 90%;
    height: 35px;
    margin-top: 10px;
    border: 2px solid #006dff;
    border-radius: 15px;
    background-color: #006dff;
    color: white;
    font-size: 15px; 
}

.submit:hover{
    cursor: pointer;
    filter: drop-shadow(0 0 0.2rem #006dff);
}

.register{
    margin-top: 5%;
    font-size: 15px;
    color: #b0ceff;
    font-weight: 900;
}
