<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shopping cart</title>
  </head>
  <body>
    <h1>Events</h1>
    <p>Book Club 24/2</p>
    <button id="add-to-cart-btn">Add to Cart</button>

    <h1>Shopping Cart</h1>
    <button id="empty-cart-btn">Empty Cart</button>
    <div id="cart-summary"></div>
    <button id="submit-booking">Book</button>
    <script src="cart.js" type="module"></script>
  </body>
</html>
